html {
	background-color: #282c34;
}

.App {
	text-align: center;
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.String-input {
	width: 50%;
	font-size: 1.5em;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
}

.bit {
	text-align: center;
	font-size: 1em;
	max-width: 500px;
	margin-left: 105px;
}

.art {
	text-align: center;
	font-size: 0.5em;
	max-width: 500px;
	margin-left: 80px;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	margin-left: 105px;
	margin-bottom: 100px;
}

.colorZero {
	color: #000000;
	border: 1px solid #000000;
	background-color: #000000;
	margin: 0;
}
.colorOne {
	color: #ff0000;
	border: 1px solid #ff0000;
	background-color: #ff0000;
	margin: 0;
}
